.container{
    background-color: rgb(239 214 214);
    margin: 0px auto;
    width: 70vw;
    padding: 1rem;
}

.btn{
    font-size: 20px;
}

.btn:hover{
    border: 1px solid black;
    cursor: pointer;
    padding: 19px 14px;
    border-radius: 10px;
}